LOAD

In [1]:
import pandas as pd
import os

# Define the raw data path
raw_path = "../data/raw/"

# Load your CSVs
file1 = pd.read_csv(os.path.join(raw_path, "index.csv"))
file2 = pd.read_csv(os.path.join(raw_path, "stocks.csv"))

print("Index file shape:", file1.shape)
print("Stocks file shape:", file2.shape)

Index file shape: (3882, 6)
Stocks file shape: (191223, 11)

Clean column names + convert date columns

In [2]:
# Clean column names
file1.columns = file1.columns.str.strip().str.lower()
file2.columns = file2.columns.str.strip().str.lower()

# Convert date columns to datetime
file1['date'] = pd.to_datetime(file1['date'])
file2['date'] = pd.to_datetime(file2['date'])

print(file1.head())
print(file2.head())

        date  close_^nsei   high_^nsei    low_^nsei   open_^nsei  volume_^nsei
0 2010-01-04  5232.200195  5238.450195  5167.100098  5200.899902             0
1 2010-01-05  5277.899902  5288.350098  5242.399902  5277.149902             0
2 2010-01-06  5281.799805  5310.850098  5260.049805  5278.149902             0
3 2010-01-07  5263.100098  5302.549805  5244.750000  5281.799805             0
4 2010-01-08  5244.750000  5276.750000  5234.700195  5264.250000             0
        date       ticker       open       high        low      close  \
0 2010-01-04  ADANIENT.NS  55.390836  57.519302  54.858721  57.215237
1 2010-01-05  ADANIENT.NS  57.392615  58.779919  57.392615  58.539200
2 2010-01-06  ADANIENT.NS  58.659568  65.501068  58.279486  64.316475
3 2010-01-07  ADANIENT.NS  65.805136  65.805136  61.193452  61.662220
4 2010-01-08  ADANIENT.NS  62.054960  64.360804  61.092085  62.441380

      volume    return  next_return  movement  prev_return
0  1860224.0       NaN     0.023140         1          NaN
1  2280286.0  0.023140     0.098691         1          NaN
2  7326390.0  0.098691    -0.041269         0     0.023140
3  4759208.0 -0.041269     0.012636         1     0.098691
4  3324076.0  0.012636     0.017855         1    -0.041269

Merge with NIFTY (index) data

In [7]:
# For now, skip merge and just use stock data
merged = file2.copy()

print("Merged file shape:", merged.shape)
merged.head()

Merged file shape: (191223, 11)

,date,ticker,open,high,low,close,volume,return,next_return,movement,prev_return
0,2010-01-04,ADANIENT.NS,55.390836,57.519302,54.858721,57.215237,1860224.0,NaN,0.023140,1,NaN
1,2010-01-05,ADANIENT.NS,57.392615,58.779919,57.392615,58.539200,2280286.0,0.023140,0.098691,1,NaN
2,2010-01-06,ADANIENT.NS,58.659568,65.501068,58.279486,64.316475,7326390.0,0.098691,-0.041269,0,0.023140
3,2010-01-07,ADANIENT.NS,65.805136,65.805136,61.193452,61.662220,4759208.0,-0.041269,0.012636,1,0.098691
4,2010-01-08,ADANIENT.NS,62.054960,64.360804,61.092085,62.441380,3324076.0,0.012636,0.017855,1,-0.041269

In [5]:
merged = merged.sort_values(by=['date'])
merged = merged.fillna(method='ffill').fillna(method='bfill')
merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191223 entries, 0 to 191222
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         191223 non-null  datetime64[ns]
 1   ticker       191223 non-null  object
 2   open         191223 non-null  float64
 3   high         191223 non-null  float64
 4   low          191223 non-null  float64
 5   close        191223 non-null  float64
 6   volume       191223 non-null  float64
 7   return       191223 non-null  float64
 8   next_return  191223 non-null  float64
 9   movement     191223 non-null  int64
 10  prev_return  191223 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(1)
memory usage: 17.5+ MB

C:\Users\harsh\AppData\Local\Temp\ipykernel_19788\1796713718.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  merged = merged.fillna(method='ffill').fillna(method='bfill')

In [6]:
processed_path = "../data/processed/"
os.makedirs(processed_path, exist_ok=True)

merged.to_csv(os.path.join(processed_path, "merged_clean.csv"), index=False)
print("✅ Saved cleaned dataset at:", os.path.join(processed_path, "merged_clean.csv"))

✅ Saved cleaned dataset at: ../data/processed/merged_clean.csv